.container-fluid {
    overflow: hidden;
    position: relative;
    background-color: #000000;
}

.container {
    margin: 10px;
}

.slider-services {
    position: flex;
    /*important, allows container-fluid to be the relative*/
}

.slick-slide {
    height: 150px;
}

.slick-slide .col-xs-12>div {
    background-color: orange;
}

.slick-list {
    overflow: visible;
    /*important, allows overflow slides to be visible*/
}

.slick-next:before,
.slick-prev:before {
    color: rgb(247, 243, 243);
}

.slick-next,
.slick-prev {
    height: 100%;
    width: 150px;
    z-index: 2;
}

.slick-prev,
.slick-prev:hover {
    left: 0;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.slick-next,
.slick-next:hover {
    right: 0;
    background-image: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    display: none;
}

.slider-dots {
    position: relative;
}

.card-1 {
    height: 200px;
    width: 100px;
    background-color: rgb(162, 170, 170);
    margin-top: 10px;
    margin-left: 10px;
    border: 3px solid rgb(0, 0, 0);
}